#section-4{
    display: flex;
    width: 100%;
    background: #101b23;
}

.footer {
  display: flex;
  background: #101b23;
  width: 50%;
  color: white;
  font-size: 1em;
  margin: 0 auto;
  align-content: center;
  justify-content:space-between;
  border-top: 1px white solid;
  margin-right: 25%;
}
.footer ul {
  list-style: none;
  font-size: 1em;
}
.footer ul li {
  display: inline;
}
