.wrapper {
  display: flex;
  position: relative;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.navbar {
  display: block;
  position: fixed;
  z-index: 101;
  top: 3em;
  right: 3em;
  width: 50px;
  height: 50px;
  border: 5px solid #56afd3;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar div {
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: #fff;
  transition: all 0.5s ease;
}

.navbar .first {
  top: 15%;
  left: 10px;
}

.navbar .second {
  top: 45%;
  left: 10px;
}

.navbar .third {
  top: 75%;
  left: 10px;
}
.menuContent {
  position: fixed;
  display: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  z-index: 100;
  background: #101b23;
  margin: 0;
  padding: 0;
}
.menu {
  position: relative;
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
}