.container3 {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: repeat(4, minmax(130px, auto));
  padding: 5% 5% 10% 0;
}

.container3 h1 {
  margin: 0 auto;
  color: #3d8dac;
}
.nameHolderNOT {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  color: #48c4f5;
  transform: rotate(-90deg);
  font-size: 5em;
  align-self: center;
}
.nameHolderDOT {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  color: #48c4f5;
  transform: rotate(-90deg);
  font-size: 5em;
  align-self: center;
}
.imageHolderOT{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  background: url("https://images.unsplash.com/photo-1497366216548-37526070297c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #101b23e7;
  background-blend-mode: multiply;
}
.facesHolderOT{
  grid-column-start: 2;
  grid-column-end:4;
  grid-row-end: 3;
  padding: 0 30px;
  margin-bottom: -3%;
  justify-self: center;
}
.descriptionHolderNOT{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
 
  color: #48c4f5;
  justify-self: center;
}
.descriptionHolderDOT{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;

  color: #48c4f5;
  justify-self: center;
}

@keyframes example-anim-1 {
  0% {
    clip: rect(264px, 500px, 499px, 0);
  }
  5.5555555556% {
    clip: rect(125px, 500px, 93px, 0);
  }
  11.1111111111% {
    clip: rect(56px, 500px, 275px, 0);
  }
  16.6666666667% {
    clip: rect(21px, 500px, 48px, 0);
  }
  22.2222222222% {
    clip: rect(318px, 500px, 293px, 0);
  }
  27.7777777778% {
    clip: rect(188px, 500px, 367px, 0);
  }
  33.3333333333% {
    clip: rect(235px, 500px, 351px, 0);
  }
  38.8888888889% {
    clip: rect(52px, 500px, 133px, 0);
  }
  44.4444444444% {
    clip: rect(173px, 500px, 496px, 0);
  }
  50% {
    clip: rect(487px, 500px, 368px, 0);
  }
  55.5555555556% {
    clip: rect(265px, 500px, 171px, 0);
  }
  61.1111111111% {
    clip: rect(431px, 500px, 119px, 0);
  }
  66.6666666667% {
    clip: rect(302px, 500px, 60px, 0);
  }
  72.2222222222% {
    clip: rect(75px, 500px, 293px, 0);
  }
  77.7777777778% {
    clip: rect(357px, 500px, 92px, 0);
  }
  83.3333333333% {
    clip: rect(263px, 500px, 216px, 0);
  }
  88.8888888889% {
    clip: rect(166px, 500px, 458px, 0);
  }
  94.4444444444% {
    clip: rect(232px, 500px, 292px, 0);
  }
  100% {
    clip: rect(460px, 500px, 264px, 0);
  }
}
@keyframes example-anim-2 {
  0% {
    clip: rect(381px, 500px, 140px, 0);
  }
  5.5555555556% {
    clip: rect(121px, 500px, 482px, 0);
  }
  11.1111111111% {
    clip: rect(469px, 500px, 236px, 0);
  }
  16.6666666667% {
    clip: rect(224px, 500px, 139px, 0);
  }
  22.2222222222% {
    clip: rect(25px, 500px, 288px, 0);
  }
  27.7777777778% {
    clip: rect(18px, 500px, 251px, 0);
  }
  33.3333333333% {
    clip: rect(372px, 500px, 442px, 0);
  }
  38.8888888889% {
    clip: rect(243px, 500px, 456px, 0);
  }
  44.4444444444% {
    clip: rect(286px, 500px, 73px, 0);
  }
  50% {
    clip: rect(182px, 500px, 96px, 0);
  }
  55.5555555556% {
    clip: rect(66px, 500px, 151px, 0);
  }
  61.1111111111% {
    clip: rect(187px, 500px, 317px, 0);
  }
  66.6666666667% {
    clip: rect(314px, 500px, 326px, 0);
  }
  72.2222222222% {
    clip: rect(371px, 500px, 491px, 0);
  }
  77.7777777778% {
    clip: rect(462px, 500px, 35px, 0);
  }
  83.3333333333% {
    clip: rect(105px, 500px, 237px, 0);
  }
  88.8888888889% {
    clip: rect(475px, 500px, 37px, 0);
  }
  94.4444444444% {
    clip: rect(110px, 500px, 21px, 0);
  }
  100% {
    clip: rect(454px, 500px, 347px, 0);
  }
}
.example > img {
  position: absolute;
  top: 0px;
  left: 0px;
}
.example > img:nth-child(2),
.example > img:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.example > img:nth-child(2) {
  left: 2px;
  animation: example-anim-1 2s infinite linear alternate-reverse;
}
.example > img:nth-child(3) {
  left: -2px;
  animation: example-anim-2 3s infinite linear alternate-reverse;
}
.wrap {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.grayscale {
  filter: grayscale(100%);
}

.blur {
  filter: blur(3px);
}

.invert {
  filter: invert(100%);
}

.hide {
  opacity: 0;
}

.removeHide {
  opacity: 1;
}

@media all and (max-width: 1070px) {
}
@media all and (max-width: 784px) {
}
@media all and (max-width: 519px) {
}
