.container3 {
  display: flex;
  flex-direction: column;
  background: #101b23;
  color: white;
  font-size: 1.3em;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container3 h1 {
  margin: 0 auto;
  color: #3d8dac;
}
.ourteam {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.gridContainerTeam {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: repeat(6, minmax(130px, auto));
  padding: 0 5% 0 0;
}

.headerTeam {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  z-index: 12;
  align-self: end;
}
.headerTeam h1 {
  margin-bottom: -10%;
  font-size: 50px;
  color: white;
  background: #101b23e7;
  padding: 0 10px;
}
.imageTeam {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 6;
  background-image: url("https://i.imgur.com/vjQdewL.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.leftTeam {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
  background: #101b23e7;
  z-index: 11;
  opacity: 0;
  transition-duration: 0.3s;
  text-align: center;
  padding: 10% 5% 0 5%;
}
.rightTeam {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 6;
  background: #101b23e7;
  z-index: 11;
  opacity: 0;
  transition-duration: 0.3s;
  text-align: center;
  padding: 10% 5% 0 5%;
}
.leftTeamImg {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
  background: #101b23e7;
  z-index: 11;
  background-image: url("https://i.imgur.com/azpg3J4.png");
  background-size: cover;
  transition-duration: 0.3s;
}
.rightTeamImg {
  display: none;
  background: #101b23e7;
  z-index: 11;
  background-image: url("https://i.imgur.com/5OF9a3a.png");
  transition-duration: 0.3s;
  background-size: cover;
}
.leftTeam:hover {
  opacity: 1;
}
.rightTeam:hover {
  opacity: 1;
}
@media all and (max-width: 1070px) {
  .gridContainerTeam {
    padding: 0 5% 0 5%;
  }
  .headerTeam {
    grid-row-start: 2;
    grid-row-end: 3;
  }

}
@media all and (max-width: 784px) {
  .rightTeamImg{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
    background-size: cover;
  }
}
@media all and (max-width: 519px) {
}
