@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap");
.parallaxParagraph {
    font-family: "Chakra Petch", "Roboto"
}

.parallaxParagraph h1 {
  font-size: 0.9em;
}
@media all and (max-height: 320px) and (orientation: landscape) {
    .parallaxParagraph{
      font-size: 2em;
    }
}
