.container1 {
  display: flex;
  flex-direction: column;
  background: #101b23;
  color: white;
  font-size: 1.3em;
}

.grid {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: 20% 20% 40% 20%;
  height: 100vh;
  padding: 0;
}
.frontendHeading {
  font-size: 210px;
  padding: 0;
  font-family: "Chakra Petch";
}

.imgleft {
  background-image: url("https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-color: #3699c08f;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.rightimg {
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
  background-color: #3699c08f;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.text {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 19;
  background: #101b23e7;
  padding: 10% 20% 0 10%;
  text-align: left;
  font-size: 35px;
}
.textleft {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 19;
  background: #101b23e7;
  padding: 0 10% 0 20%;
  font-size: 35px;
  text-align: left;
}
.titleRight {
  transform: rotate(90deg);
  font-size: 3em;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
  z-index: 20;
}
.titleLeft {
  font-size: 3em;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  z-index: 1;
}
h2 {
  color: #48c4f5;
}
h1 {
  padding: 5% 5% 0 0;
  margin: 0 auto;
}
.gridStyle {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.iconStyle {
  font-size: 2em;
}

.backend {
  background-image: url("https://images.unsplash.com/photo-1493119508027-2b584f234d6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}
.uiux {
  background-image: url("https://images.unsplash.com/photo-1531403009284-440f080d1e12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}
.mobile {
  background-image: url("https://images.unsplash.com/photo-1526038335545-4b96864eaee7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}
@media all and (max-height: 420px) and (orientation: landscape) {
  .text{
    font-size:15px;
  }
  .textleft{
    font-size: 15px;
  }
  .titleLeft{
    grid-row-start: 1;
    font-size: 2em;
  }
  .titleRight{
    font-size: 2em;
    grid-column-start: 4;
    grid-row-start: 1;
  }
}
@media all and (max-height: 320px) and (orientation: landscape) {
  .text{
    font-size:12px;
  }
  .textleft{
    font-size: 12px;
  }
  .titleLeft{
    grid-row-start: 1;
    font-size: 1.5em;
  }
  .titleRight{
    font-size: 1.5em;
    grid-column-start: 4;
    grid-row-start: 1;
  }
}
@media screen and (max-width: 1336px) and (orientation: portrait){
  .text {
    font-size: 30px;
  }
  .textleft {
    font-size: 30px;
  }
}
@media screen and (max-width: 1070px) and (orientation: portrait){
  .skillimg {
    width: 350px;
    height: auto;
  }
  .frontendHeading {
    font-size: 100px;
  }
  .container1 {
    font-size: 1.2em;
  }
  .titleRight {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .text {
    font-size: 30px;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-top: 20%;
    
  }
  .textleft {
    font-size: 30px;
    grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
    padding-top: 20%;
    
  }

}
@media screen and (max-width: 784px) and (orientation: portrait) {
  .iconStyle {
    padding: 0 10px;
  }
  .frontendHeading {
    font-size: 70px;
  }
  .titleRight {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .iconStyle {
    font-size: 1.5em;
  }
  .text {
    font-size: 20px;
    padding: 0 20%;
  }
  .textleft {
    font-size: 20px;
    padding: 0 20%;
  }
}
@media screen and (max-width: 519px) {
  .container1 {
    font-size: 0.9em;
  }
  .text,
  .textleft {
    padding: 0 20%;
    text-align: left;
    width: 50%;
  }
  .text {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .iconStyle {
    font-size: 1.3em;
    padding: 0.5em;
  }
  .frontendHeading {
    font-size: 50px;
  }
  .titleRight {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .textleft {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    font-size: 16px;
    padding: 0 20%;
  }
  .text {
    font-size: 16px;
    padding: 0 20%;
  }
   
}
@media screen and (max-width: 370px) {
  .text{
    font-size:14px;
  }
  .textleft{
    font-size: 14px;
  }
}
